body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body div#root {
  min-height: 100vh;
}
body div#root > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/********************

  HEADER

********************/

header {
  background: #555;
  text-align: center;
  padding: 5px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
}

header .todo-heading {
  display: inline-block;
  position: relative;
}

header .todo-heading::after {
  content: "";
  border: 2px solid red;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

/********************

  MAIN

********************/
main {
  flex: 1;
}
main .todo-main-div {
  display: flex;
  font-size: 1.2rem;
}
main .todo-main-div ul {
  list-style: none;
  display: inline-block;
  margin: 20px auto;
  padding: 25px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 5px #aaa;
  min-height: 300px;
  min-width: 200px;
}

main .todo-main-div ul li {
  line-height: 8px;
  margin: 5px auto;
}
/********************

  FOOTER

********************/

footer {
  background: #555555;
  color: #fff;
  text-align: center;
  padding: 2px 0;
}